body {
    background-color: #ffffff;
    margin: 0;
    padding: 1em 1em 1em 1em;
}

#results {
    margin: 0 0 0 0;
    font-size: 14px;
    font-family: Tahoma, sans-serif;
}

.tagcloud_head {
	font-weight: bold;
}

.tagcloud {
	margin-top: 10px;
	width: 99%;
	background:#EFEFFF;
	color:#003399;
	padding: 3px;
	border: 1px solid #E2E2e2;
	text-align:left;
}
.tagcloud a:link, .tagcloud a:visited {
	text-decoration:none;
}
.tagcloud a:hover, .tagcloud a:active {
	text-decoration: underline;
	color: #000;
}
.tagcloud span {
	padding: 2px;
}
.tagcloud .s1 {
	font-size: 12px;
}
.tagcloud .s2 {
	font-size: 13px;
}
.tagcloud .s3 {
	font-size: 14px;
}
.tagcloud .s4 {
	font-size: 15px;
}
.tagcloud .s5 {
	font-size: 16px;
}
.tagcloud .s6 {
	font-size: 17px;
}
.tagcloud .s7 {
	font-size: 18px;
}
.tagcloud .s8 {
	font-size: 19px;
}
.tagcloud .s9 {
	font-size: 20px;
}
.tagcloud .s10 {
	font-size: 21px;
}
.tagcloud .s11 {
	font-size: 22px;
}

.tagcloud_head_module {
	color:#0033aa;
	padding: 3px;
	border: 0px;
	border-bottom:1px;
	border-bottom-color:#cccccc;
	border-bottom-style:dashed;
	text-align:left;
	font-size: 12px;
	font-weight: bold;
}

input[type='button'] {
	cursor: pointer;
}